@charset "utf-8";
body {
  background-color: #F2F2F2;
  color: #000000;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
h1, h2, h3, h4, strong, figcaption {
  font-family: "new-science", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #003366;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  margin-top: 70px;
}
.head {
  background-color: rgba(255, 254, 254, 0.50);
  text-align: center;
}
nav {
  background-color: #FFFFFF;
}
.navbar {
  margin: 0 !important;
  padding: 0 !important;
}
.nav-link {
  color: #0099CC !important;
  font-family: "eurostile-extended", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.nav-link:hover, .nav-link:focus {
  color: #003366 !important;
  text-shadow: 0px 0px 8px rgba(103, 104, 115, 1.00);
}
.navbar-nav .show > .nav-link, .navbar-nav .active > .nav-link, .nav-link.show, .nav-link.active {
  color: #003366 !important;
  background-color: #F2F2F2;
}
.btn.btn-primary {
  background-color: #003366 !important;
  color: #F2F2F2 !important;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #003366;
  margin-top: 10px;
  margin-bottom: 40px;
}
.btn.btn-primary:hover {
  background-color: #0099CC !important;
  border: 1px solid #0099CC;
}
a:link {
  color: #003366 !important;
}
a:visited {
  color: #003366 !important;
}
a:hover {
  color: #0099CC !important;
}
footer {
  background-color: #003366;
  color: #F2F2F2;
}
footer a:link {
  color: #A6A6A6 !important;
}
footer a:visited {
  color: #A6A6A6 !important;
}
footer a:hover {
  color: #0099CC !important;
}
.borders {
  border: 2px solid #003366;
}
.footer-text {
  text-align: center;
  font-size: 12px;
}
.main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.map-container {
  border: 2px solid #003366;
  float: right;
  margin-right: 30px;
}
.info {
  font-size: 14px;
}
.footer {
  color: #A6A6A6;
  text-align: left;
}
.bi-check2-square {
  color: #003366;
  font-weight: 900;
  font-size: 20px;
  margin-right: 20px;
}
.carousel-control-prev .carousel-control-prev-icon {
  background-color: #003366;
}
.carousel-control-next .carousel-control-next-icon {
  background-color: #003366;
}
.carousel .carousel-indicators button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  border: 1px solid #003366;
}
.medical, .mining, .industrial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.text {
  flex: 1;
}
.carousel {
  flex: 1;
  padding-top: 30px;
}
@media screen and (min-width:992px) {
  .navbar .container-fluid {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer h4 {
    text-align: center !important;
  }
  footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
  }
  footer ul li {
    margin: 0 10px;
  }
  footer ul li a {
    display: inline-block;
  }
  .medical, .mining, .industrial {
    flex-direction: column;
  }
}
.right {
  margin-left: 20px;
  margin-bottom: 20px;
}
.left {
  margin-right: 20px;
  margin-bottom: 20px;
}